<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="title">  Lista de Cartas Asignadas  </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4> En esta pagina se te enseñan las cartas que te fueron asignadas, debes de terminar la creacion de tu cuenta! <br>
                                     Para eso debes hacer click en las cartas grises con un "+" para proceder a escoger las 3 cartas de rareza mayor <br>
                                     Nota: Se te asignaron 15 cartas normales, pero los mazos contienen 18 cartas por eso debes escoger las otras 3
                                </h4>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let card of cardsGiven; index as i">
                <div *ngIf="(i + 1) % 6 != 0; else elseBlock" class="col-md-2">
                    <div class="play-card">
                        <div class="play-card-face">
                            <div class="play-card-title"> {{card.nombre}} </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        <span class="icon-combat"></span> {{card.costo}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        <span class="icon-energy"></span> {{card.energia}}
                                    </div>
                                </div>
                            </div>
                            <div class="play-card-image">
                                <img [src]="card.imagen" alt="Imagen">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        {{card.raza}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        {{card.tipo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="play-card-back">
                            <div class="play-card-description"> {{card.descripcion}} </div>
                        </div>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="play-card">
                                <div class="play-card-face">
                                    <div class="play-card-title"> {{card.nombre}} </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="play-card-stat">
                                                <span class="icon-combat"></span> {{card.costo}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="play-card-stat">
                                                <span class="icon-energy"></span> {{card.energia}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="play-card-image">
                                        <img [src]="card.imagen" alt="Imagen">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="play-card-stat">
                                                {{card.raza}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="play-card-stat">
                                                {{card.tipo}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="play-card-back">
                                    <div class="play-card-description"> {{card.descripcion}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                </ng-template>
            </div>
            <div class="col-md-2">
                <div class="play-card-disabled" (click)="choose_card()">
                    <div class="play-card-disabled-logo"> + </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="play-card-disabled" (click)="choose_card()">
                    <div class="play-card-disabled-logo"> + </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="play-card-disabled" (click)="choose_card()">
                    <div class="play-card-disabled-logo"> + </div>
                </div>
            </div>
        </div>
    </div>
</div>