.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.content {
    flex-grow: 1;
    padding: 10px;
}

.center2 {
    padding-top:10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
