<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">&nbsp;</div>
                    <div class="center">
                        <h4 class="title">  Seleccione una sola carta para su colección  </h4>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="center">
                        <h4 class="title">  Ronda {{round}} / 3 </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="center2">
            <div *ngFor="let card of cardsChoose; index as i">
                <div class="col-md-2">
                    <div class="play-card" (click)="next_round(i)">
                        <div class="play-card-face">
                            <div class="play-card-title"> {{card.nombre}} </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        <span class="icon-combat"></span> {{card.costo}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        <span class="icon-energy"></span> {{card.energia}}
                                    </div>
                                </div>
                            </div>
                            <div class="play-card-image">
                                <img [src]="card.imagen" alt="Imagen">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        {{card.raza}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        {{card.tipo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="play-card-back">
                            <div class="play-card-description"> {{card.descripcion}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>