.center {
    padding-top:0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center2 {
    padding-top:10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .divider {
    width: 40px;
  }