<div class="navbar">
    <div class="navbar-top">
        <div class="navbar-title">StarDeck</div>
        <div class="navbar-text">Monedas: {{player.Monedas}} &nbsp;&nbsp;&nbsp; Ranking: {{player.Ranking}}</div>
        <!--<img src="assets/img/default-avatar.png" alt="..." class="navbar-profile" (click)="toggleDropdownMenu()">
        <div class="dropdown-menu" id="dropdown-menu" [ngClass]="{'show': isDropdownOpen}">
            <a href="#">View Profile</a>
            <a href="#">Logout</a>
        </div>-->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <img src="assets/img/default-avatar.png" alt="..." class="navbar-profile">
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a (click)="viewProfile(player.Id)">Ver Perfil</a>
                    <a (click)="logout()">Log Out</a>
                </li>
            </ul>
        </li>
    </div>

    <div class="navbar-sections">
        <div
            class="navbar-section"
            *ngFor="let section of sections; let i = index"
            [ngClass]="{ active: activeSectionIndex === i }"
            (click)="setActiveSection(i)"
        >
            {{ section }}
        </div>
    </div>
</div>
