<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="title">  Lista de Cartas  </h4>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-3">
                                <!-- Search Bar -->
                                <div class="search-container">
                                    <input type="text" [(ngModel)]="searchTerm" placeholder="Search">
                                    <span class="search-icon"><i class="fa fa-search"></i></span>
                                </div>
                                <!-- Chat GPT tiene como conectar este search bar -->
                            </div>
                            <div class="col-md-3">
                                <!-- Filter -->
                                <button (click)="addCard()" type="submit" class="btn pull-left">
                                    <div class="font-icon-detail"><i class="fa fa-filter"></i></div>
                                </button>
                            </div>
                            <div class="col-md-3">
                                &nbsp;
                            </div>
                            <div class="col-md-3">
                                <!-- Add Button -->
                                <button (click)="addCard()" type="submit" class="btn pull-right">
                                    <div class="font-icon-detail"><i class="fa fa-plus-circle"></i></div>
                                </button>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let card of cards; index as i">
                <div *ngIf="(i + 1) % 6 != 0; else elseBlock" class="col-md-2">
                    <div class="play-card">
                        <div class="play-card-face">
                            <div class="play-card-title"> {{card.Nombre}} </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        <span class="icon-combat"></span> {{card.Costo}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        <span class="icon-energy"></span> {{card.Energia}}
                                    </div>
                                </div>
                            </div>
                            <div class="play-card-image">
                                <img [src]="card.Imagen" alt="Imagen">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        {{card.Raza}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="play-card-stat">
                                        {{card.Tipo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="play-card-back">
                            <div class="play-card-description"> {{card.Descripcion}} </div>
                        </div>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="play-card">
                                <div class="play-card-face">
                                    <div class="play-card-title"> {{card.Nombre}} </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="play-card-stat">
                                                <span class="icon-combat"></span> {{card.Costo}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="play-card-stat">
                                                <span class="icon-energy"></span> {{card.Energia}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="play-card-image">
                                        <img [src]="card.Imagen" alt="Imagen">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="play-card-stat">
                                                {{card.Raza}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="play-card-stat">
                                                {{card.Tipo}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="play-card-back">
                                    <div class="play-card-description"> {{card.Descripcion}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                </ng-template>
            </div>
        </div>
    </div>
</div>