<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <div class="play-card-disabled">
                    <div class="play-card-disabled-logo"> {{completeTurn?.cartasDeckRival?.length}} </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="hand">
                    <div *ngFor="let card of completeTurn?.cartasManoRival; index as i">
                        <div class="play-card-disabled">
                            <div class="play-card-disabled-logo"> ? </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="center2">
                    <div class="title">
                        <h4>Rival: {{completeTurn.rival?.username}}</h4>
                        <span>
                            <div class="title">
                                <h4>Energia Restante: {{completeTurn.infoPartida?.energia}}</h4>
                                <span>
                                    <div class="title">
                                        <h4>Numero de Turno: {{completeTurn.infoPartida?.numero_turno}}</h4>
                                        <span>
                                            <div class="title">
                                                <h4>Tiempo Restante: {{timer}}</h4>
                                            </div>
                                        </span>
                                    </div>
                                </span>
                            </div>
                        </span>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">&nbsp;</div>

        
        <div class="row">
            <div class="center2">
                <div *ngFor="let planet of completeTurn?.planetasEnPartida; index as i">
                    <div class="center2" *ngIf="!matchEnded; else elseBlock">
                        <div class="planet-card2" (click)="placeCard(planet)">
                            <div class="planet-card2-face">
                                <div class="planet-card2-title"> {{planet?.nombre}} </div>
                                <div class="planet-card2-image">
                                    <img [src]="planet?.imagen" alt="Imagen">
                                </div>
                            </div>
                            <div class="planet-card2-back">
                                <div class="row">
                                    <div class="planet-card2-description"> {{planet?.descripcion}} </div>
                                </div>
                                <div class="row">
                                    <div class="planet-card2-stat"> {{planet?.tipo}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="play-card-disabled">
                            <div class="play-card-disabled-text"> 
                                {{planet?.nombre}} <br> Ganador:  {{winnerPerPlanet[i]?.username}}
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!showOpponentsCards">
            <div class="center2">
                <div class="sidebar3">
                    <h5 class="center2">Cartas en {{completeTurn.planetasEnPartida[0]?.nombre}}</h5>
                    <ng-container *ngFor="let card of completeTurn?.cartasPlanetas[0]">
                          <input (click)="removeCard(card,0)" type="checkbox" [checked]="true" [class.selected]="true" class="card2">
                          <span (click)="removeCard(card,0)">{{ card?.nombre }} &nbsp; Daño: {{card?.costo}}</span>
                    </ng-container>
                </div>
                <div class="sidebar3">
                    <h5 class="center2">Cartas en {{completeTurn.planetasEnPartida[1]?.nombre}}</h5>
                    <ng-container *ngFor="let card of completeTurn?.cartasPlanetas[1]">
                          <input (click)="removeCard(card,0)" type="checkbox" [checked]="true" [class.selected]="true" class="card2">
                          <span (click)="removeCard(card,0)">{{ card?.nombre }} &nbsp; Daño: {{card?.costo}}</span>
                    </ng-container>
                </div>
                <div class="sidebar3">
                    <h5 class="center2">Cartas en {{completeTurn.planetasEnPartida[2]?.nombre}}</h5>
                    <ng-container *ngFor="let card of completeTurn?.cartasPlanetas[2]">
                          <input (click)="removeCard(card,0)" type="checkbox" [checked]="true" [class.selected]="true" class="card2">
                          <span (click)="removeCard(card,0)">{{ card?.nombre }} &nbsp; Daño: {{card?.costo}}</span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="showOpponentsCards">
            <div class="center2">
                <div class="sidebar3">
                    <h5 class="center2">Cartas del Rival en {{completeTurn.planetasEnPartida[0]?.nombre}}</h5>
                    <ng-container *ngFor="let card of completeTurn?.cartasRivalPlanetas[0]">
                          <input type="checkbox" [checked]="true" [class.selected]="true" class="card2">
                          <span>{{ card?.nombre }} &nbsp; Daño: {{card?.costo}}</span>
                    </ng-container>
                </div>
                <div class="sidebar3">
                    <h5 class="center2">Cartas del Rival en {{completeTurn.planetasEnPartida[1]?.nombre}}</h5>
                    <ng-container *ngFor="let card of completeTurn?.cartasRivalPlanetas[1]">
                          <input type="checkbox" [checked]="true" [class.selected]="true" class="card2">
                          <span>{{ card?.nombre }} &nbsp; Daño: {{card?.costo}}</span>
                    </ng-container>
                </div>
                <div class="sidebar3">
                    <h5 class="center2">Cartas del Rival en {{completeTurn.planetasEnPartida[2]?.nombre}}</h5>
                    <ng-container *ngFor="let card of completeTurn?.cartasRivalPlanetas[2]">
                          <input type="checkbox" [checked]="true" [class.selected]="true" class="card2">
                          <span>{{ card?.nombre }} &nbsp; Daño: {{card?.costo}}</span>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-md-1">
                <div class="play-card-disabled">
                    <div class="play-card-disabled-logo"> {{completeTurn.cartasDeckUsuario?.length}} </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="hand">
                    <div *ngFor="let card of completeTurn?.cartasManoUsuario; index as i">
                        <div class="play-card2" (click)="selectCard(card)" [class.selected]="selectedCard == card">
                            <div class="play-card2-face">
                                <div class="play-card2-title"> {{card?.nombre}} </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="play-card2-stat">
                                            <span class="icon-combat"></span> {{card?.costo}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="play-card2-stat">
                                            <span class="icon-energy"></span> {{card?.energia}}
                                        </div>
                                    </div>
                                </div>
                                <div class="play-card2-image">
                                    <img [src]="card?.imagen" alt="Imagen">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="play-card2-stat">
                                            {{card?.raza}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="play-card2-stat">
                                            {{card?.tipo}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="play-card2-back">
                                <div class="play-card2-description"> {{card?.descripcion}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1" *ngIf="!turnEnded">
                <div class="btn" (click)="endTurn()">Terminar Turno</div>
            </div>
        </div>
    </div>
</div>