<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="play-card-disabled">
                    <div class="play-card-disabled-logo"> {{cardsLeft.length}} </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="hand">
                    <div *ngFor="let card of hand; index as i">
                        <div class="play-card-disabled">
                            <div class="play-card-disabled-logo"> ? </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="center2">
                <div *ngFor="let planet of planetsOnMatch">
                    <div class="planet-card">
                        <div class="planet-card-face">
                            <div class="planet-card-title"> {{planet.nombre}} </div>
                            <div class="planet-card-image">
                                <img [src]="planet.imagen" alt="Imagen">
                            </div>
                        </div>
                        <div class="planet-card-back">
                            <div class="row">
                                <div class="planet-card-description"> {{planet.descripcion}} </div>
                            </div>
                            <div class="row">
                                <div class="planet-card-stat"> {{planet.tipo}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-md-2">
                <div class="play-card-disabled">
                    <div class="play-card-disabled-logo"> {{cardsLeft.length}} </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="hand">
                    <div *ngFor="let card of hand; index as i">
                        <div class="play-card" (click)="selectCard(card)" [class.selected]="selectedCard == card">
                            <div class="play-card-face">
                                <div class="play-card-title"> {{card.nombre}} </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="play-card-stat">
                                            <span class="icon-combat"></span> {{card.costo}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="play-card-stat">
                                            <span class="icon-energy"></span> {{card.energia}}
                                        </div>
                                    </div>
                                </div>
                                <div class="play-card-image">
                                    <img [src]="card.imagen" alt="Imagen">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="play-card-stat">
                                            {{card.raza}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="play-card-stat">
                                            {{card.tipo}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="play-card-back">
                                <div class="play-card-description"> {{card.descripcion}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>