<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <!--<li [class.disabled]="!this._userService.getType()">
                    <a [class.disabled]="!this._userService.getType()" href="#/user" >
                        User Profile
                    </a>
                </li>
                <li [class.disabled]="!_userService.getType()">
                    <a [class.disabled]="!_userService.getType()" href="#/points" >
                        Points
                    </a>
                </li>
                <li>
                    <a href="#/appointments">
                        Appointments
                    </a>
                </li>
                <li>
                    <a href="#/billing">
                        Billing
                    </a>
                </li>
                <li [class.disabled]="_userService.getType()">
                    <a [class.disabled]="_userService.getType()" href="#/workers">
                        Manage Workers
                    </a>
                </li>
                <li [class.disabled]="_userService.getType()">
                    <a [class.disabled]="_userService.getType()" href="#/offices">
                        Manage Offices
                    </a>
                </li>
                <li [class.disabled]="_userService.getType()">
                    <a [class.disabled]="_userService.getType()" href="#/providers">
                        Manage Providers
                    </a>
                </li>
                <li [class.disabled]="_userService.getType()">
                    <a  [class.disabled]="_userService.getType()" href="#/products">
                        Manage Products
                    </a>
                </li>
                <li [class.disabled]="_userService.getType()">
                    <a [class.disabled]="_userService.getType()" href="#/services">
                        Manage Services
                    </a>
                </li>
                <li [class.disabled]="_userService.getType()">
                    <a [class.disabled]="_userService.getType()" href="#/clients">
                        Manage Clients
                    </a>
                </li>-->
            </ul>
        </nav>
    </div>
</footer>
